/* Fallout Amber Theme */
body.fallout-amber {
  color: #ffb000;
}

body.fallout-amber .pip-panel,
body.fallout-amber .pip-header,
body.fallout-amber .pip-tabs {
  color: #ffb000;
  border-color: #ffb000;
}
