/* Fallout Green Theme */
body.fallout-green {
  color: #00ff00;
}

body.fallout-green .pip-panel,
body.fallout-green .pip-header,
body.fallout-green .pip-tabs {
  color: #00ff00;
  border-color: #00ff00;
}
